#wrapper {
    margin-left: 20px;
    margin-right: 20px;
  overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 50%;
  float:left; /* add this */
}
#second {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}